@use '../../scss/variables' as *;
@use '../../scss/mixins' as *;

.hero {
    padding-bottom: 44px;
    background:
        linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(15, 20, 32, 0.79) 100%),
        url('../../assets/images/hero/hero_mobile.webp') no-repeat 100% 100%;
    background-size: cover, cover;

    @include respond(tablet) {
        background:
        linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(15, 20, 32, 0.79) 100%),
        url('../../assets/images/hero/hero_tablet.webp') no-repeat 100% 100%;
        background-size: cover, cover;
        padding: 26px 0 30px 30px;
    }

    @include respond(laptop) {
        background:
        linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(15, 20, 32, 0.79) 100%),
        url('../../assets/images/hero/hero_laptop.webp') no-repeat 100% 100%;
        background-size: cover, cover;
        padding: 33px 0 57px;
    }

    &__image {
        margin-top: -117px;
        margin-left: 17px;
        display: flex;
        justify-content: center;

        img {
            width: 100%;
            max-width: 326px;
        }

        @include respond(tablet) {
            margin-top: 0;
            margin-right: -93px;
            margin-left: unset;
        }

        @include respond(laptop) {
            margin-top: 0;
            margin-right: 0;
            margin-left: unset;
            position: relative;
            top: 24px;
            left: 26px;

            img {
                max-width: 100%;
            }
        }
    }

    &__texts {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;

        @include respond(tablet) {
            align-items: flex-start;
            text-align: start;
            max-width: 411px;
        }

        @include respond(laptop) {
            max-width: 700px;
        }
    }

    &__heading {
        font-size: 36px;
        font-weight: 800;
        color: $color-white;
        line-height: 1;

        span {
            color: $color-primary;
        }

        @include respond(tablet) {
            font-size: 48px;
        }

        @include respond(laptop) {
            font-size: 72px;
        }
    }

    &__descr {
        font-size: 16px;
        line-height: 120%;
        font-weight: 800;
        display: block;
        margin-top: 17px;
        color: $color-white;

        span {
            color: $color-secondary;
        }

        @include respond(tablet) {
            font-size: 22px;
            margin-top: 22px;
        }

        @include respond(laptop) {
            font-size: 32px;
        }
    }

    &__btn {
        display: block;
        margin-top: 17px;

        @include respond(tablet) {
            margin-top: 22px;
        }
    }

    &__inner {
        @include respond(tablet) {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
        }
    }
}