@use '../../scss/variables' as *;
@use '../../scss/mixins' as *;

.header {
    background-color: $color-black;
    padding: 5px 20px;
    position: relative;
    overflow-x: clip;

    @include respond(tablet) {
        padding: 24px 30px 20px;
    }

    &__burger {
        background: transparent;
        @include respond(tablet) {
            display: none;
        }
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__list {
        display: flex;
        flex-direction: column;
        position: absolute;
        list-style-type: none;
        background-color: $color-black;
        gap: 40px;
        padding: 20px 40px;
        right: -100%;
        transition: 0.5s right;
        top: 100%;

        &--open {
            right: 0;
        }

        @include respond(tablet) {
            position: static;
            flex-direction: row;
            padding: 0;
            gap: 65px;
        }
    }

    &__link {
        font-size: 18px;
        font-weight: 700;
        color: $color-white;
        
        &:hover {
            @include gradient-text($gradient-main);
            background-position: 100% 50%;
        }
    }

    &__cart {
        &-icon {
            height: auto; 

            &:hover {
                .header__cart-shape {
                    fill: url(#cartGrad);   
                }
            }
        }
    }

    &__logo {
        max-width: 70px;

        @include respond(tablet) {
            max-width: 104px;
        }

        img {
            width: 100%;
        }
    }
}