@use '../../scss/variables' as *;

.footer {
    background-color: $color-black;

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 20px 20px;
    }

    &__descr {
        color: $color-secondary;
        font-size: 18px;
        font-weight: 800;
        line-height: 28px;
    }
}