@use '../scss/variables' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
    text-decoration: none;
}

body {
    font-family: $font-primary;
    overflow-x: hidden;
}

.container {
    max-width: 1076px;
    margin: 0 auto;
}

button {
    border: none;
    cursor: pointer;
}