@use './mixins' as *;
@use './variables' as *;

.btn {
    font-size: 16px;
    border-radius: 100px;
    font-weight: 700;
    padding: 7px 40px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;

    &--solid {
        background-color: $color-secondary;
        color: $color-black;

        @include respond(tablet) {
            padding: 14px 40px;
            font-size: 22px;
        }

        &:hover {
            background-color: $bg-button-hover;
        }
    }

    &--outline {
        border: 2px solid $color-secondary;
        color: $color-secondary;

        @include respond(laptop) {
            padding: 14px 40px;
            font-size: 22px;
        }

        &:hover {
            border-color: $bg-button-hover;
            color: $bg-button-hover;
        }
    }
}