@font-face {
  font-family: 'Lato';
  src: url('../assets/fonts/Lato-Bold.woff2') format('woff2'),
    url('../assets/fonts/Lato-Bold.woff') format('woff'),
    url('../assets/fonts/Lato-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('../assets/fonts/Lato-ExtraBold.woff2') format('woff2'),
    url('../assets/fonts/Lato-ExtraBold.woff') format('woff'),
    url('../assets/fonts/Lato-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}