@use '../../scss/variables' as *;
@use '../../scss/mixins' as *;

.offers {
    background-color: rgba(13, 30, 72, 1);
    background-image: linear-gradient(360deg, rgba(13, 30, 72, 1) 100%, rgba(48, 69, 113, 1) 100%);
    padding: 50px 20px;

    @include respond(tablet) {
        padding: 55px 30px;
    }

    &__heading {
        font-size: 18px;
        color: $color-white;
        font-weight: 800;

        @include respond(tablet) {
            font-size: 24px;
        }

        @include respond(laptop) {
            font-size: 32px;
        }
    }

    &__layout {
        margin-top: 30px;
        display: grid;
        gap: 30px;
        grid-template-rows: repeat(4, 350px);
        grid-auto-rows: 350px;

        @include respond(tablet) {
            grid-template-rows: repeat(2, 350px);
            grid-template-columns: repeat(2, 1fr);
        }

        @include respond(laptop) {
            margin-top: 40px;

            & > div:first-child,  & > div:last-child {
                grid-column-end: 3;
                grid-column-start: 1;

                .offer__title {
                    font-size: 74px;
                    max-width: 634px;
                }

                .offer__subtitle {
                    font-size: 26px;
                }
            }
        }
    }
}

.offer {
    display: flex;
    padding: 32px 27px;
    border-radius: 10px;
    background-position: center;

    &__inner {
        display: flex;
        flex-direction: column;
        gap: 22px;
        align-items: flex-start;
        justify-content: flex-end;
    }

    @include respond(tablet) {
        padding: 27px 32px 27px 25px;
    }

    &__title {
        font-size: 40px;
        font-weight: 800;
        color: $color-white;
        line-height: 100%;
        max-width: 243px;

        @include respond(laptop) {
            font-size: 46px;
            max-width: 280px;
        }
    }

    &__subtitle {
        font-size: 16px;
        font-weight: 800;
        line-height: 120%;
        color: $color-white;

        @include respond(laptop) {
            font-size: 24px;
        }
    }

    &--borders {
        background:
        linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, rgba(15, 20, 32, 0.79) 100%),
        url('../../assets/images/offers/offer_borders.webp') no-repeat 100% 100%;
    }

    &--space {
        background:
        linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, rgba(15, 20, 32, 0.79) 100%),
        url('../../assets/images/offers/offer_space.webp') no-repeat 100% 100%;
    }

    &--stars {
        background:
        linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, rgba(15, 20, 32, 0.79) 100%),
        url('../../assets/images/offers/offer_stars.webp') no-repeat 100% 100%;
    }

    &--dreams {
        background:
        linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, rgba(15, 20, 32, 0.79) 100%),
        url('../../assets/images/offers/offer_dreams.webp') no-repeat 100% 100%;
    }

    &--borders,
    &--space,
    &--stars,
    &--dreams {
        background-size: cover, cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}